$primaryColor: var(--primary-color);
$primaryColor-10: var(--primary-color-10);
$primaryColor-20: var(--primary-color-20);
$primaryColor-25: var(--primary-color-25);
$primaryColor-50: var(--primary-color-50);
$primaryColor-80: var(--primary-color-80);

$secondaryColor: var(--secondary-color);
$secondaryColor-3: var(--secondary-color-3);
$secondaryColor-5: var(--secondary-color-5);
$secondary-Color-10: var(--secondary-color-10);
$secondary-Color-40: var(--secondary-color-40);
$secondary-Color-65: var(--secondary-color-65);
$secondary-Color-75: var(--secondary-color-75);
$secondary-Color-90: var(--secondary-color-90);

$fontColor: var(--font-color);

$secondaryFontColor: var(--secondary-font-color);
$secondaryFontColor-5: var(--secondary-font-color-5);
$secondaryFontColor-10: var(--secondary-font-color-10);
$secondaryFontColor-15: var(--secondary-font-color-15);
$secondaryFontColor-50: var(--secondary-font-color-50);
$secondaryFontColor-65: var(--secondary-font-color-65);
$secondaryFontColor-70: var(--secondary-font-color-70);
$secondaryFontColor-75: var(--secondary-font-color-75);
$secondaryFontColor-85: var(--secondary-font-color-85);
$secondaryFontColor-90: var(--secondary-font-color-90);

$cardBGColor: var(--card-bg-color);
$bgColor: var(--bg-color);
$dangerColor: var(--danger-color);
$dangerColor-5: var(--danger-color-5);
$dangerColor-25: var(--danger-color-25);
$warningColor: var(--warning-color);
$warningColor-2: var(--warning-color-2);
$warningColor-5: var(--warning-color-5);
$footerBgColor: var(--footer-bg-color);
$footerBorderColor: var(--footer-border-color);
