section.hero-section {
    margin-block: 50px;

    .container {
        background: url("../img/hero-mapbase.png") no-repeat top;
        background-size: cover;
        padding-top: 70px;
        grid-template-columns: 1fr;
    }

    .title {
        font-size: 44px;
        line-height: 53.25px;
        max-width: 882px;
    }

    .subtitle {
        margin-block: 8px 16px;
    }

    .trade-counter {
        background-color: var(--secondary-color);
        padding-block: 31px;
        margin-top: 160px;
        border-radius: 8px;

        .item {
            @media only screen and (max-width: 767px) {
                flex-grow: 1;
                padding-inline: 15px;
                text-align: center;
            }

            [value] {
                color: var(--secondary-font-color);
                font-size: 40px;
                font-weight: 700;
            }
            .text {
                max-width: 91px;
                padding-inline: 5px;
                color: var(--secondary-font-color-90);
                font-size: 14px;
                font-weight: 500;
                text-transform: capitalize;
            }
        }
    }
}

section.identity-section {
    padding-block: 24px 66px;

    .card-group {
        --card-gap-ratio: 16px;
        gap: calc(var(--card-gap-ratio) * 3 / 2);
        margin-top: 56px;

        .card {
            max-width: calc(33% - var(--card-gap-ratio));
            padding: 24px 24px 0px;
            background-color: var(--secondary-color-10);
            border-radius: 8px;
            flex-grow: 1;

            @media only screen and (max-width: 991px) {
                max-width: calc(50% - var(--card-gap-ratio));
            }

            @media only screen and (max-width: 767px) {
                max-width: 100%;
            }

            .card-badge {
                font-size: 13px;
                border-radius: 50px;
                padding: 10px 24px;
                background-color: var(--secondary-color-5);
                margin-bottom: 8px;
            }
            .card-title {
                font-size: 16px;
                font-weight: 700;
            }
            .card-text {
                font-size: 15px;
                font-weight: 400;
                flex-grow: 1;
                color: var(--secondary-color-75);
            }
        }

        .card:nth-child(2) {
            background-color: #3aa31a1a;
            .card-badge {
                background-color: #3aa31a0d;
            }
        }
        .card:nth-child(3) {
            background-color: #ffd0181a;
            .card-badge {
                background-color: #ffd0180d;
            }
        }
        .card:nth-child(4) {
            background-color: #ff00001a;
            .card-badge {
                background-color: #ff00000d;
            }
        }
        .card:nth-child(5) {
            background-color: #ff00ff1a;
            .card-badge {
                background-color: #ff00ff0d;
            }
        }
        .card:nth-child(6) {
            background-color: #0008ff1a;
            .card-badge {
                background-color: #0008ff0d;
            }
        }
    }
}

section.work-policy .policy-details-area {
    min-height: 205px;
    margin-block: 56px 70px;

    .card {
        max-width: 180px;

        .serial-no {
            font-size: 40px;
            line-height: 1.05em;
            font-weight: 600;
            background: var(--secondary-color);
            color: var(--secondary-font-color);
            border-radius: 4px;
            width: 40px;
            margin-bottom: 24px;
        }
        .card-title {
            font-size: 15px;
            font-weight: 600;
        }
        .card-subtitle {
            font-size: 14px;
            font-weight: 400;
        }
    }
}

section.account-plan .card-group {
    --card-gap-ratio: 16px;
    gap: calc(var(--card-gap-ratio) * 3 / 2);
    margin-block: 56px 48px;

    .card {
        max-width: calc(33% - var(--card-gap-ratio));
        padding: 24px;
        background-color: var(--secondary-color-5);
        border-radius: 8px;
        flex-grow: 1;

        @media only screen and (max-width: 991px) {
            max-width: calc(50% - var(--card-gap-ratio));
        }

        @media only screen and (max-width: 767px) {
            max-width: 100%;
        }

        .card-badge {
            font-size: 14px;
            font-weight: 600;
            border-radius: 50px;
            padding: 10px 40px;
            background-color: var(--secondary-color-3);
            margin-bottom: 8px;
        }
        .card-title {
            font-size: 32px;
            font-weight: 700;
            margin-bottom: 16px;
        }
        dl.item-list {
            flex-grow: 1;

            dt {
                display: grid;
                grid-template-columns: auto 1fr;
                align-items: center;
            }

            span {
                font-size: 15px;
                font-weight: 500;
                text-align: center;
            }
        }

        .btn {
            min-width: 135px;
            margin-top: 24px;
        }
    }
}

section.review-section .card-group {
    background-color: var(--secondary-color-5);
    border-radius: 8px;
    margin-block: 0px 130px;

    .card {
        padding: 24px;
        flex: 1 1 25%;

        @media only screen and (max-width: 991px) {
            flex: 1 1 50%;
        }

        @media only screen and (max-width: 767px) {
            flex: 1 1 100%;
        }

        .card-star svg path {
            fill: var(--warning-color);
        }

        .card-title {
            font-size: 16px;
            font-weight: 600;
            color: var(--secondary-color);
        }
        .card-text {
            font-size: 16px;
            font-weight: 400;
        }
    }
}

section.latest-trade {
    .trade-table-area {
        background-color: var(--secondary-color);
        padding: 24px 10px;
        border-radius: 8px;
        margin-block: 56px 130px;

        .scroll {
            max-height: 555px;
            overflow-y: auto;
            padding-inline: 20px;
        }
        table {
            border-collapse: collapse;

            thead > tr > th {
                font-size: 15px;
                font-weight: 500;
                color: var(--secondary-font-color-75);
                padding-block: 0 10px;
            }
            tbody > tr > td {
                font-size: 15px;
                font-weight: 400;
                color: var(--secondary-font-color-90);
                border-top: 1px solid var(--secondary-font-color-10);

                @media only screen and (max-width: 767px) {
                    padding-inline: 15px;
                }
            }

            tbody > tr:last-child {
                border-bottom: 1px solid var(--secondary-font-color-10);
            }

            .btn {
                min-height: 40px;
                margin-block: 16px;
            }
            .btn-pending {
                background-color: var(--warning-color);
                color: var(--secondary-color);
            }
        }
    }
}

section.assist-section {
    .container {
        background-color: var(--secondary-color);
        border-radius: 8px;
        overflow: visible;
        margin-bottom: 56px;

        @media only screen and (max-width: 767px) {
            padding-block: 50px 0px;
        }

        & > div {
            width: 100%;
            @media only screen and (min-width: 992px) {
                width: 50%;
            }
        }

        .card {
            .card-title {
                font-size: 36px;
                font-weight: 600;
                color: var(--secondary-font-color);

                @media only screen and (max-width: 767px) {
                    font-size: 25px;
                }
            }

            .card-subtitle {
                font-size: 15px;
                font-weight: 300;
                color: var(--secondary-font-color-75);
                margin-block: 8px 16px;
            }

            .btn {
                width: 168px;
            }
        }

        .img-area {
            height: 342px;
            background: url("../img/assist-rectangles-group.png") no-repeat top;
            background-size: cover;
            position: relative;

            .assistant-img {
                position: absolute;
                right: 0;
                bottom: 0;
                margin: auto;

                @media only screen and (max-width: 767px) {
                    max-width: 100%;
                }
            }
        }
    }
}

section.text-section .container {
    background-color: var(--secondary-color-5);
    padding: 40px;
    border-radius: 8px;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    text-wrap: balance;
}

section.award-section {
    padding-block: 10px 50px;
}

/** ======== Home page 2 style start =========  */
section.hero-section-2 {
    margin-block: 10px 64px;

    .col {
        flex: 1 0 50%;
    }

    .title {
        max-width: 882px;
        font-size: 42px;
        line-height: 53.25px;
        font-family: "Merriweather", serif;
        font-weight: 800;
        font-style: normal;
        text-transform: none;

        span {
            font-family: "Merriweather", serif;
        }
    }

    .subtitle {
        margin-block: 8px 16px;
    }

    .btn {
        font-size: 14px;
    }

    .hero-image {
        max-width: 100%;
    }

    .trade-counter {
        background-color: var(--secondary-color);
        padding-block: 31px;
        margin-top: 37px;
        border-radius: 8px;

        .item {
            @media only screen and (max-width: 767px) {
                flex-grow: 1;
                padding-inline: 15px;
                text-align: center;
            }

            [value] {
                color: var(--secondary-font-color);
                font-size: 32px;
                font-weight: 700;
            }
            .text {
                max-width: 95px;
                padding-inline: 5px;
                color: var(--secondary-font-color-85);
                font-size: 14px;
                font-weight: 400;
                text-transform: capitalize;
            }
        }
    }
}

section.work-policy-2 {
    .title {
        font-size: 26px;
        margin-bottom: 80px;
    }

    .policy-area {
        .col {
            flex: 1 1 50%;
        }

        .card-group {
            .card {
                gap: 40px;
                min-height: 100px;
                margin-bottom: 20px;
                position: relative;

                .card-sn {
                    font-size: 16px;
                    font-weight: 700;
                }

                &:not(:last-child) .card-sn::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 10px;
                    height: calc(100% - 28px);
                    border-right: 2px dashed var(--secondary-color-40);
                }

                .card-title {
                    font-size: 18px;
                    line-height: 1.5em;
                    font-weight: 800;
                    font-family: "Merriweather", serif;
                }

                .card-subtitle {
                    font-size: 16px;
                    font-weight: 400;
                }
            }
        }

        .can-invest-area .card {
            max-width: 419px;
            margin-inline: auto;
            padding: 24px;
            background-color: var(--primary-color-20);
            border-radius: 8px;
            position: relative;

            .card-badge {
                font-size: 13px;
                font-weight: 600;
                border-radius: 50px;
                padding: 10px 24px;
                background-color: var(--primary-color-10);
                margin-bottom: 8px;
            }
            .card-title {
                font-size: 16px;
                line-height: 1.5em;
                font-weight: 700;
                font-family: "Merriweather", serif;
            }
            .card-text {
                font-size: 15px;
                font-weight: 400;
                flex-grow: 1;
                color: var(--secondary-color-75);
            }

            .btn {
                margin-block: 15px;
            }

            .card-footer {
                position: absolute;
                top: calc(100% - 30px);
                right: 0;
                width: calc(100% - 80px);
                background-color: var(--bg-color);
                border-radius: 8px;

                border-width: 2px;
                border-style: solid;
                border-image: linear-gradient(90deg, #171f2c, #3aa31a, #171f2c) 1;
                box-shadow: 0px 2px 8px 0px #171f2c26;

                ul {
                    margin-block: 5px 12px;

                    li {
                        font-size: 14px;
                        line-height: 1.6em;
                        span {
                            font-weight: bold;
                        }
                    }

                    li::marker {
                        color: var(--primary-color);
                        font-size: 22px;
                    }
                }
            }
        }
    }
}
/** ======== Home page 2 style end =========  */

/** ======== Login page style start =========  */
section.login-section {
    color: var(--secondary-font-color);
    border-image: linear-gradient(
            to left,
            var(--secondary-color),
            var(--secondary-color) 50%,
            var(--secondary-color-65) 0%,
            var(--secondary-color-65) 100%
        )
        fill 1;
    background: left 0% / 50% 100% no-repeat url("../img/login-bg.jpeg");

    @media only screen and (max-width: 991px) {
        border-image: linear-gradient(var(--secondary-color-65), var(--secondary-color-65)) fill 1;
        background: left 0% / 100% 100% no-repeat url("../img/login-bg.jpeg");
    }

    .container {
        padding-block: 54px;
        min-height: 674px;
    }

    .left-content {
        max-width: 419px;

        .section-title {
            font-size: 36px;
            font-weight: 700;
            text-wrap: balance;
            margin-bottom: 16px;
        }
        .section-text {
            font-size: 17px;
            font-weight: 400;
            /* text-wrap: balance; */
        }
    }

    .right-content {
        max-width: 440px;

        .card-header {
            font-size: 24px;
            font-weight: 100;
            margin-bottom: 40px;

            a.btn-tab {
                font-weight: 700;
                color: var(--secondary-font-color);

                &:not(.active) {
                    color: var(--secondary-font-color-50);
                }
            }

            #forgotPass-tab-area .btn-tab {
                color: var(--secondary-font-color);

                *:not(span) {
                    font-size: 12px;
                }
            }
        }

        .card-footer {
            * {
                font-size: 14px;
                font-weight: 300;
                margin-block: 16px 12px;
            }

            .btn {
                margin-top: 20px;
            }
        }
    }
}
/** ======== Login page style end =========  */

section.faq-section {
    margin-block: 40px 63px;

    .section-title {
        font-size: 26px;
        font-weight: 700;
        font-family: "Merriweather", serif;
        margin-bottom: 40px;

        span {
            font-family: "Merriweather", serif;
        }
    }

    .card-collapsible-group .card {
        max-width: 686px;
        background-color: var(--bg-color);
        border-radius: 8px;
        margin-bottom: 16px;
        padding: 16px 40px;
        min-height: 52px;

        .card-header {
            * {
                font-size: 15px;
                font-weight: 600;
            }
        }
        .card-body {
            padding-top: 10px;
        }
    }
}
